doctype html
html
  head
    title Menu Categoria
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")  
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src="../js/semantic.min.js")
    link(rel='stylesheet' type='text/css' href='../css/semantic.min.css')
    style.
      .item_tr:hover {
        background: #F9FAFB;
      }
  body

    //MENU
    .ui.large.menu
      .ui.container
        a.item(href='/producto') Productos
        a.item(href='/categoria') Categorias
      .menu
        .item
          .ui.icon.input
            input(type='text' placeholder='search...')
            i.search.icon
        .item
          a.ui.black.button Salir

    //Cuerpo
    .ui.container
      form(action='/categoria/editar' method='post')
        table.ui.fixed.table
          thead
            tr
              th.ui.center.aligned Id
              th.ui.center.aligned Nombre
              th.ui.center.aligned Descripcion
          tbody
            each categoria in objResult
              tr.item_tr.ui.form.table_show(attr_obj=JSON.stringify(categoria))
                .inline.fields
                  th.ui.center.aligned 
                    .field
                      .ui.radio.checkbox
                        input(type='radio' name='idCategoria' value=categoria.id)
                        label #{categoria.id}
                  th.ui.center.aligned
                    a(href='/producto?idCategoria='+categoria.id) #{categoria.nombre}




                  th.ui.center.aligned
                    label #{categoria.descripcion}





        a.ui.black.button(href='/categoria/crear') Crear
        input.ui.black.button(type='submit' value='Editar')

      div.ui.modal
        div.header Informacion
        div.content
          h4 Id
          #categoria_id
          h4 Nombre
          #categoria_nombre
          h4 Descripcion
          #categoria_descripcion
  script.
    $(".table_show").on("click",function(event){
      var attr_obj=$(this).attr("attr_obj");
      attr_obj=JSON.parse(attr_obj);

      var attr_nombre=attr_obj.nombre;
      var attr_descripcion=attr_obj.descripcion;
      var attr_id=attr_obj.id;

      $('#categoria_id').text(attr_id);
      $('#categoria_nombre').text(attr_nombre);
      $('#categoria_descripcion').text(attr_descripcion);
      $('.ui.modal').modal('show');

    });







  //  a(href='/producto') Productos
  //  a(href='/categoria') Categorias
  //  br
  //  form(action='/categoria/editar' method='post')
  //    table(style='width:60%')
  //      tr
  //        th Id
  //        th Nombre
  //        th Descripcion
  //      each categoria in objResult
  //        tr
  //          th
  //            input(type='radio' name='idCategoria' value=categoria.id)
  //            | #{categoria.id}
  //          th
  //            a(href='/producto?idCategoria='+categoria.id) #{categoria.//nombre}//
  //          th #{cate//goria.descripcion}//
  //    br//
  //    in//put(type='submit' value='Editar')//
  //  a.btn-crear(href='/categoria/crear')//
  //    button.btn-crear(type='button') Crear
  //  br
  