doctype html
html
  head
    title Menu Productos
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")  
    link(rel='stylesheet' type='text/css' href='../css/semantic.min.css')
  body
    .ui.large.top.menu
      .ui.container        
        a.item(href='/producto') Productos
        a.item(href='/categoria') Categorias
      .rigth.menu
        .item
          .ui.icon.input
            input(type='text' placeholder='search..')
            i.search.icon
        .item
          a.ui.black.button Salir
    .ui.container
      form(action='/producto/editar' method='post')
        table.ui.fixed.table
          thead
            tr
              th.ui.center.aligned Id
              th.ui.center.aligned Nombre
              th.ui.center.aligned Precio
              th.ui.center.aligned Stock
              th.ui.center.aligned Descripcion
              th.ui.center.aligned Categoria
          tbody
            each producto in objResult_producto
              tr.ui.form
                .inline.fields
                  th.ui.center.aligned 
                    .field
                      .ui.radio.checkbox
                        input(type='radio' name='idProducto' value=producto.id)
                        label #{producto.id}
                  th.ui.center.aligned #{producto.nombre}
                  th.ui.center.aligned #{producto.precio}
                  th.ui.center.aligned #{producto.cantidad}
                  th.ui.center.aligned #{producto.descripcion}
                  //-each categoria in objResult_categoria
                    if producto.categoriaId == categoria.id
                      th #{categoria.nombre}
                  th.ui.center.aligned #{producto.categorias.nombre}
        a.ui.black.button(href='/producto/crear') Crear
        input.ui.black.button(type='submit' value='Editar')

  //  br
  //  form(action='/producto/editar' method='post')
  //    table(style='width:60%')
  //      tr
  //        th Id
  //        th Nombre
  //        th Precio
  //        th Stock
  //        th Descripcion
  //        th Categoria
  //      each producto in objResult_producto
  //        tr
  //          th
  //            input(type='radio' name='idProducto' value=producto.id)
  //            | #{producto.id}
  //          th #{producto.nombre}
  //          th #{producto.precio}
  //          th #{producto.cantidad}
  //          th #{producto.descripcion}
  //          //-each categoria in objResult_categoria
  //            if producto.categoriaId == categoria.id
  //              th #{categoria.nombre}
  //          th #{producto.categorias.nombre}
  //    input(type='submit' value='Editar')
  //  br
  //  a.btn-crear(href='/producto/crear')
  //    button.btn-crear(type='button') Crear