
html
  head
    title Menu Productos
    meta(charset='UTF-8')
  body
    a(href='/producto') Productos
    a(href='/categoria') Categorias
    br
    form(action='/producto/editar' method='post')
      table(style='width:60%')
        tr
          th Id
          th Nombre
          th Precio
          th Stock
          th Descripcion
          th Categoria
        each producto in objResult_producto
          tr
            th
              input(type='radio' name='idProducto' value=producto.id)
              | #{producto.id}
            th #{producto.nombre}
            th #{producto.precio}
            th #{producto.cantidad}
            th #{producto.descripcion}
            //-each categoria in objResult_categoria
              if producto.categoriaId == categoria.id
                th #{categoria.nombre}
            th #{producto.categorias.nombre}
      input(type='submit' value='Editar')
    br
    a.btn-crear(href='/producto/crear')
      button.btn-crear(type='button') Crear